

.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.loading-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust based on your layout */
    width: 100%;
}

.loading-animation video {
    max-height: 200px;
    width: auto;
    object-fit: contain;
    border-radius: 12px;
}


